<div class="preloader-wrapper active" *ngIf='!notData'>
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" style="padding-top:25px">
  <div class="row" *ngIf="readMode">
    <div class="col s10 offset-s6">
      <a class="btn-floating waves-effect waves-light" (click)="edit()"  *ngIf='notData'>
        <i class="material-icons">mode_edit</i>
      </a>
    </div>
    <div class="col l10" *ngFor="let a of learning_india">
      <p><b>{{a.title}}</b></p>
      <p>{{a.data}}</p>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea active" name="title" [(ngModel)]="myGoodSchool.data"> </textarea>
          <label class="active" for="textarea1">My Good School</label>
        </div>
      </div>
      <a class="btn waves-effect waves-light" (click)="backToReadMode()">
        <i class="material-icons left">arrow_back</i> Go Back
      </a>
      <a class="btn waves-effect waves-light" (click)="submit(myGoodSchool)">
        Submit <i class="material-icons right">call_made</i>
      </a>
    </form>
  </div>
</div>