<nav class="tb-grey" role="navigation">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">My Good School</a>
    <a href="#" id="logo-container" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul id="slide-out" class="side-nav fixed" >
      <li>
        <a [routerLink]="['/']" class="waves-effect waves-teal">
          <i class="material-icons">home</i> Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/ourService']" class="waves-effect waves-teal">
          <i class="material-icons">build</i> Our Services
        </a>
      </li>
      <li>
        <a [routerLink]="['/myGoodSchool']" class="waves-effect waves-teal">
          <i class="material-icons">3d_rotation</i> My Good School
        </a>
      </li>
      <li>
        <a [routerLink]="['/professionalDevelopment']" class="waves-effect waves-teal">
          <i class="material-icons">polymer</i> Professional Development
        </a>
      </li>
      <li>
        <a [routerLink]="['/schoolAndClient']" class="waves-effect waves-teal">
          <i class="material-icons">cloud_upload</i> School And Client
        </a>
      </li>
    </ul>
  </div>
</nav>

<main>
	<router-outlet></router-outlet>
</main>
